body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: #333333;
}
body.is-fixed {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
}
.button--bg {
  background-color: #ffffff;
}
.button--bg .button-text {
  color: #4a4a4a;
}
.button--border {
  border: 1px solid #ffffff;
}
.button--border .button-text {
  color: #ffffff;
}
.button-icon {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-icon-path {
  fill: #ffffff;
}
.button-icon-path--contact {
  fill: #4a4a4a;
}
.button-text {
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.header {
  background-color: #4a4a4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-container {
  position: relative;
  width: 100%;
}
.header-logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: #ffffff;
}
.header-menu-button {
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  overflow: hidden;
  color: transparent;
  background: url(../img/bg_menu.png) center center no-repeat;
  background-size: 100% auto;
}
.header-menu-button.is-checked {
  background: url(../img/bg_menu-close.png) center center no-repeat;
  background-size: 100% auto;
}
.header-nav-list {
  height: calc(100vh - 88px);
  border-top: 1px solid #ffffff;
  padding-top: 60px;
  display: none;
}
.header-nav-item + .header-nav-item {
  margin-top: 24px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 1%;
  top: 14%;
  color: #4a4a4a;
}
.rating-icon {
  width: 40px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.rating-icon.active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.rating-count {
  font-weight: bold;
  font-size: 25px;
}

.fv {
  position: relative;
}
.fv-contents {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: 100% auto;
}
.fv-heading-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.fv-heading-sub {
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

.section {
  padding: 48px 0;
}
.section-inner {
  padding: 0 32px;
}
.section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}
.section-head--center {
  text-align: center;
}
.section-head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
}
.section-head-sub {
  font-size: 11px;
}
.section-lead-text {
  font-size: 16px;
  line-height: 1.6;
}
.section-skills-main {
  font-size: 45px;
}

.service-item + .service-item {
  margin-top: 40px;
}
.service-item-img {
  text-align: center;
  margin-bottom: 14px;
}
.service-item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.service-item-text {
  font-size: 14px;
  line-height: 1.6;
}
.service-contents {
  margin-top: 40px;
}

.skills {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.skills .skill {
  margin-bottom: 16px;
}
.skills .skill-text {
  display: none;
  padding: 10px 0 0 0;
}
.skills .skill .skill-name {
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block;
}
.skills .skill .skill-bar {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.skills .skill .skill-bar .skill-level {
  height: 100%;
  background: #67c5ff;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.skills .skill .skill-bar .skill-level.html {
  width: 65%;
}
.skills .skill .skill-bar .skill-level.css {
  width: 50%;
}
.skills .skill .skill-bar .skill-level.scss {
  width: 65%;
}
.skills .skill .skill-bar .skill-level.js {
  width: 60%;
}
.skills .skill .skill-bar .skill-level.jQuery {
  width: 50%;
}

.works {
  background-color: #fafafa;
}
.works-list {
  margin-top: 25px;
}
.works-item + .works-item {
  margin-top: 40px;
}
.works-item-img {
  margin-bottom: 12px;
}
.works-item-img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.works-item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.works-item-link {
  text-decoration: underline;
  font-size: 14px;
}

.about-img {
  margin-bottom: 32px;
}
.about-img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.about-text {
  font-size: 16px;
  line-height: 1.6;
}
.about-text + .about-text {
  margin-top: 1em;
}

.flow {
  background-color: #fafafa;
}
.flow-list {
  margin-top: 64px;
}
.flow-item {
  position: relative;
  border: 1px solid #808080;
  padding: 46px 16px 24px;
}
.flow-item + .flow-item {
  margin-top: 46px;
}
.flow-item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
  background-color: #4a4a4a;
  color: #ffffff;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flow-item-img {
  margin-bottom: 24px;
  text-align: center;
}
.flow-item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.flow-item-text {
  font-size: 14px;
  line-height: 1.6;
}

.message-img {
  margin-bottom: 32px;
}
.message-img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.message-text {
  font-size: 16px;
  line-height: 1.6;
}

.page-bottom {
  color: #ffffff;
}
.page-bottom-item {
  padding: 40px;
}
.page-bottom-item--contact {
  background-color: #6f6f6f;
}
.page-bottom-item--twitter {
  background-color: #4a4a4a;
}

.footer {
  text-align: center;
  padding: 10px;
}
.footer-copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}

/*------------------------------------
//pc
------------------------------------*/
@media screen and (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main {
    -ms-flex-preferred-size: 79.2%;
        flex-basis: 79.2%;
  }
  .header {
    position: relative;
    -ms-flex-preferred-size: 20.8%;
        flex-basis: 20.8%;
    padding: 50px 20px;
  }
  .header-container {
    width: 160px;
    margin: 0 auto;
    position: sticky;
    top: 50px;
  }
  .header-logo {
    font-size: 30px;
    justify-self: 0.12em;
    line-height: 1;
  }
  .header-menu-button {
    display: none;
  }
  .header-nav-list {
    border: none;
    display: block;
  }
  .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    right: 0.99%;
    top: 1%;
    color: #4a4a4a;
  }
  .rating-icon {
    width: 44px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .rating-icon.active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .rating-count {
    font-weight: bold;
    font-size: 25px;
  }
  .skills {
    padding: 0 0;
  }
  .skills .skill {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .skills .skill-text {
    display: none;
  }
  .button {
    -webkit-transition: background 0.3s, color 0.3s, opacity 0.3s;
    transition: background 0.3s, color 0.3s, opacity 0.3s;
  }
  .button:hover {
    background-color: #ffffff;
  }
  .button:hover .button-icon-path {
    fill: #4a4a4a;
  }
  .button:hover .button-text {
    color: #4a4a4a;
  }
  .button--bg {
    color: #4a4a4a;
  }
  .button--bg:hover {
    opacity: 0.7;
  }
  .section-inner {
    max-width: 944px;
    margin: 0 auto;
  }
  .section-head {
    margin-bottom: 24px;
  }
  .section-head-text-message {
    white-space: nowrap;
  }
  .section-head-sub {
    font-size: 15px;
  }
  .section-head-main {
    font-size: 60px;
  }
  .fv-contents {
    background: url(../img/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    bottom: 100px;
    left: 0;
    max-width: 627px;
    height: 174px;
    padding-top: 24px;
    padding-left: 96px;
  }
  .service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
  .service-item + .service-item {
    margin-top: 0;
  }
  .works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
  .works-item + .works-item {
    margin-top: 0;
  }
  .works-item-img {
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .works-item-img:hover img {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
  .flow-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .flow-item + .flow-item {
    margin-top: 0;
  }
  .message-text-block {
    text-align: center;
  }
  .message-head {
    margin-bottom: 16px;
  }
  .message-head-main, .message-head-sub {
    display: block;
    margin-bottom: 4px;
  }
  .message-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .page-bottom-item {
    padding: 54px 10px;
  }
}
/*------------------------------------
//tb
------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-head-main {
    font-size: 54px;
  }
  .section-head-sub {
    font-size: 15px;
  }
  .section-head-main {
    font-size: 53px;
  }
  .skills {
    padding: 0 30px;
  }
  .fv-contents {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .flow-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
  }
}